<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="net.wlanlj.meshapp"
	  android:versionCode="02"
	  android:versionName="0.5-test">
  <permission android:name="net.wlanlj.meshapp.permission.WPA_SUPPLICANT_CLIENT"
	      android:label="@string/permlabel_wpaSupplicantPermission"
	      android:description="@string/permdesc_wpaSupplicantPermission"
	      android:permissionGroup="android.permission-group.NETWORK"
	      android:protectionLevel="signature"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
  <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
  <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <uses-permission android:name="net.wlanlj.meshapp.permission.WPA_SUPPLICANT_CLIENT"></uses-permission>
  <uses-sdk android:minSdkVersion="1" />
  <application android:label="@string/global_application_name"
	       android:debuggable="true" >
    <activity android:name=".MainActivity"
	      android:label="@string/global_application_name"
	      android:configChanges="orientation|keyboardHidden"
	      android:screenOrientation="portrait" 
	      android:launchMode="singleTask" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest> 
